{% extends "core/base.html" %}
{% load static %}
{% block title %}Products - My Store{% endblock %}



{% block content %}

<div class="container mx-auto px-4 pb-16 {% if category %}category-{{ category.slug }}{% endif %}">
    {% if category %}
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6 mt-12">
    {{ category.name }}
</h2>

    {% else %}

            {% if query %}
                <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6 mt-12">Search Results for "{{ query }}"</h2>
            {% else %}
                <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6 mt-12">All Products</h2>
            {% endif %}

    {% endif %}

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for item in items %}
        <div class="border-2 border-solid border-red-300 p-4 rounded-xl overflow-hidden flex flex-col">
            
            {# Show "NEW" badge only if item.is_new is True #}

        <div class="relative w-full h-auto max-h-60"    
            
            <a href="{% url 'item:detail' item.id %}">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-full h-auto max-h-60 object-contain mx-auto">
                
                    {% if item.is_new %}
                        <span class="absolute bottom-0.5 left-3 text-white centred bg-red-600 w-18 h-18 p-1 corners-top rounded">
                        New
                        </span>
                    {% endif %}
                
                
                {% endif %}
            </a>
        </div>

            <div class="p-3 flex-1 flex flex-col justify">
                <div class="flex items-centre justify-between mb-2">
                    <h2 class="text-xl font-semibold ">{{ item.name }}</h2>
                     
                    <!-- Wishlist Button-->
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'add_to_wishlist' item.id %}">
                    <button  type="submit" class="btn likeBtn text-yellow-400 hover:text-red-500 transition duration-200">
                        <i class="fas fa-heart text-1xl"></i>
                    </button>
                    </form>
                    {% else %}
                        <p>
                            <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Log in</a>
                            to add items to wishlist.
                        </p>
                    {% endif %}
                </div>
                <!--This is the price -->
                <p class="text-gray-500 mb-4">Price: R{{ item.price }}</p>
                
                <!-- Add to cart Button -->
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'add_to_cart' item.id %}">
                        {% csrf_token %}   
                    <button type="submit"
                        class="btn likeBtn bg-gradient-to-r from-yellow-500 to-yellow-300 hover:bg-red-500 transition duration-200  block w-full py-2 text-center text-white rounded "> 
                        Add to cart
                    </button>
                </form>

                {% else %}
                        <p>
                        <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Log in</a>
                        to add items to cart.
                        </p>
                {% endif %}
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>

 {% block script %}
    <script>

        const likeBtn = document.getElementById("likeBtn");

        likeBtn.addEventListener ("click", () => {
            likeBtn.classList.add("text-red-500");
            likeBtn.classList.remove("text-yellow-400");
        }
        );
    </script>
{% endblock %}

{% endblock %}
