{% extends 'core/base.html' %}

{% block title%}All users{% endblock %}

{% block content %}
    
<div class="my-5 flex justify-center items-center">
    <h1>Customer Complaints</h1>
</div>


<div class="flex justify-center items-center flex-wrap gap-6">
    {% for complaint in complaints %}
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-white border border-1 border-gray-500 rounded-lg shadow p-4">
            <ul class="space-y-2 text-sm text-gray-700">
                <li><strong class="text-gray-900">Name:</strong> {{ complaint.name }}</li>
                <li><strong class="text-gray-900">Email:</strong> {{ complaint.email }}</li>
                <li><strong class="text-gray-900">Order Number:</strong> {{ complaint.order_number }}</li>
                <li><strong class="text-gray-900">Subject:</strong> {{ complaint.subject }}</li>
                <li><strong class="text-gray-900">Message:</strong> {{ complaint.message }}</li>
                <li><strong class="text-gray-900">Created at:</strong> {{ complaint.created_at }}</li>
            </ul>
        </div>
    {% endfor %}
</div>

{% comment %} lass Complaint(models.Model):
    name = models.CharField(max_length=100)
    email = models.EmailField()
    order_number = models.CharField(max_length=6)
    subject = models.CharField(max_length=200)
    message = models.TextField()
    created_at = models.DateField(auto_now_add=True) {% endcomment %}


{% endblock %}
