{% extends 'core/base.html' %}

{% block title%}{{ item.name }}{% endblock %}

{% block content %}

<div class="container mx-auto px-4 py-8">
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

    <div class="border-2 border-gray-900 container mt-10 mx-auto px-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        
        <div>
            <img src="{{ product.image.url }}" class="w-48 rounded-xl">
        </div>

        <div class="col-span-2 p-6 rounded-b-xl">
            <h1 class="mb-6 text-3xl">{{ product.name }}</h1>
            <p class="text-gray-500"><strong>Price: </strong>{{ product.price }}</p>
            
        </div>
    </div>


    <div style="font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;" 
        class="container w-full max-w-4xl mx-auto mt-10 px-4 rounded-lg p-4 border border-black border-opacity-50">


    <h4>Reviews ({{ reviews.count }})</h4>

    {% for review in reviews %}
        {% if review.review %}
        <div class="w-full my-4 py-4 px-10 rounded-xl border border-black">
            <p class="mb-3">{{ review.get_rating_display }}</p>
            <!-- get_FIELD_display() is a built-in Django method that returns the label for the stored value. -->
        
            <p class="mb-2"><strong>{{ review.name }} - {{ review.date|date:"d M Y" }}</strong></p>

            <p class="mb-2">{{ review.review }}</p>
        </div>
        {% endif %}
    {% endfor %}

    </div>

    <div style="font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;" 
        class="container w-full max-w-4xl mx-auto mt-10 px-4 rounded-lg p-4 border border-black border-opacity-50">

    <h2 class="my-5">Confirm Delete</h2>
    <p class="my-5">Are you sure you want to delete <strong>{{ product.name }}</strong>?</p>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Yes, Delete</button>
    <a href="{% url 'dashboard:admin-dashboard' %}" class="px-4 py-2 border rounded">Cancel</a>
  </form>

</div>
   
</div>
</div>
    
    
{% endblock %}