{% extends "core/base.html" %}

{% load static %}

{% block title %}Products - My Store{% endblock %}

{% block content %}

    <!-- Banner -->
    {% comment %} <div class="bg-cover bg-no-repeat bg-center py-36"
        style="background-image: url('{% static 'assets/images/banner-bg.jpg' %}');">
        <div class="container container mx-auto px-4">
            <h1 class="text-6xl text-gray-800 font-medium mb-4">Best Collection for <br> Home Decoration</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa <br> assumenda aliquid inventore nihil laboriosam odio</p>
            <div class="mt-12">
                <a href="#" class="bg-[#fd3d57] border-2 border-[#fd3d57] text-white px-8 py-3 font-medium rounded-md 
       hover:bg-transparent hover:text-black transition">Shop Now</a>
            </div>
        </div>
    </div> {% endcomment %}

    

 <!-- Category Section with 6 images (2 rows of 3, bigger images) -->
<div class="container mt-6 mb-10 mx-auto px-4 mx-auto px-4mx-auto px-4py-16">
    {% comment %} <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">shop by category</h2> {% endcomment %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <div class="relative rounded-sm overflow-hidden group h-56">
            <img src="{% static 'assets/images/category/KAWAII.jpg' %}" alt="category 1" class="w-full h-full object-cover">
            <a href="{% url 'product:products_by_category' 'kawaii' %}"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto group-hover:bg-opacity-60 transition">Kawaii</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group h-56">
            <img src="{% static 'assets/images/category/ANTIQUE_1.jpg' %}" alt="category 2" class="w-full h-full object-cover">
            <a href="{% url 'product:products_by_category' 'fantasy' %}"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto group-hover:bg-opacity-60 transition">Fantasy</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group h-56">
            <img src="{% static 'assets/images/category/ANTIQUE_2.jpg' %}" alt="category 3" class="w-full h-full object-cover">
            <a href="{% url 'product:products_by_category' 'antique' %}"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto group-hover:bg-opacity-60 transition">Antique</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group h-56">
            <img src="{% static 'assets/images/category/PUNK.jpg' %}" alt="category 4" class="w-full h-full object-cover">
            <a href="{% url 'product:products_by_category' 'punk' %}"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto group-hover:bg-opacity-60 transition">Punk</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group h-56">
            <img src="{% static 'assets/images/category/FURRIES_1.jpg' %}" alt="category 5" class="w-full h-full object-cover">
            <a href="{% url 'product:products_by_category' 'furries' %}"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto group-hover:bg-opacity-60 transition">Furries</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group h-56">
            <img src="{% static 'assets/images/category/BRANDING.jpg' %}" alt="category 6" class="w-full h-full object-cover">
            <a href="{% url 'product:products_by_category' 'branding' %}"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto group-hover:bg-opacity-60 transition">Branding</a>
        </div>
    </div>
</div>

    
<!-- features -->
<div class="container py-16">
    <div class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto justify-center">
        <div style="border: 2px solid #fd3d57;" class="rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="{% static 'assets/images/icons/delivery-van.svg' %}" alt="Delivery" class="w-12 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">Free Shipping</h4>
                <p class="text-gray-500 text-sm">Order over R200</p>
            </div>
        </div>
        <div style="border: 2px solid #fd3d57;" class="rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="{% static 'assets/images/icons/money-back.svg' %}" alt="Delivery" class="w-12 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">Money Rturns</h4>
                <p class="text-gray-500 text-sm">30 days money returs</p>
            </div>
        </div>
        <div style="border: 2px solid #fd3d57;" class="rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="{% static 'assets/images/icons/service-hours.svg' %}" alt="Delivery" class="w-12 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">24/7 Support</h4>
                <p class="text-gray-500 text-sm">Customer support</p>
            </div>
        </div>
    </div>
</div>


    {% comment %} <!-- Offer Banner -->
    <div class="container mx-auto px-4 mx-auto px-4mx-auto px-4pb-16">
        <a href="#">
            <img src="{% static 'assets/images/offer.jpg' %}" alt="ads" class="w-full">
        </a>
    </div> {% endcomment %}

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 max-w-5xl mx-auto mt-12">

    {% for product in products %}

        <div class="p-4 rounded-xl overflow-hidden flex flex-col shadow-[0_0_10px_rgba(0,0,0,0.20)] hover:shadow-[0_0_15px_rgba(0,0,0,0.30)] transition">
    
        <a href="{% url 'product:detail' product.category.slug product.slug %}" class="block">
        
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-auto max-h-60 object-contain mx-auto">
            {% endif %}

            <div class="p-6 flex-1 flex flex-col justify-between">
                <div>
                    <h2 class="text-2xl font-semibold mb-2">{{ product.name }}</h2>
                    <p class="text-gray-500 mb-4">Price: ${{ product.price }}</p>
                </div>
                <a href="#" class="relative z-20">
                    <button type="button"
                        style="background-color: #fd3d57;"
                        class="w-full py-2 text-center text-white rounded hover:bg-transparent hover:text-primary transition">
                        Add to cart
                    </button>
                </a>
            </div>

        </div>
    
        </a>

    {% endfor %}

</div>



{% endblock %}