{% extends "core/base.html" %}
{% load static %}

{% block title %}Signup - My Store{% endblock %}

{% block content %}

<div class="contain py-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl uppercase font-medium mb-1">Signup</h2>
        <p class="text-gray-600 mb-6 text-sm">Welcome back, customer</p>

        <form id="form" method="post" action="." novalidate>
            {% csrf_token %}
             

            <div class="space-y-4">
                <div>
                    <label  for="id_username" class="inline-block mb-2">Username</label><br>
                    {{ form.username }}
                    <div id="error-username" class="text-red-600 text-sm mt-1"></div>
                </div>

                <div>
                    <label class="inline-block mb-2">Email</label><br>
                    {{ form.email }}
                    <div id="error-email" class="text-red-600 text-sm mt-1"></div>
                </div>

                <div>
                    <label class="inline-block mb-2">Password</label><br>
                    {{ form.password1 }}
                    <div id="error-password1" class="text-red-600 text-sm mt-1"></div>
                </div>

                <div>
                    <label class="inline-block mb-2">Confirm Password</label><br>
                    {{ form.password2 }}
                    <div id="error-password2" class="text-red-600 text-sm mt-1"></div>
                </div>
            </div>

            <div class="mt-6">
                <button type="submit"
                        style="background-color: #fd3d57;"
                        class="w-full mt-5 py-2 text-center text-white rounded hover:bg-transparent hover:text-primary transition">
                    Sign Up
                </button>
            </div>

            <noscript>
                <div class="mb-3 p-6 bg-red-100 rounded-xl mt-4">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
                </div>
            </noscript>

        </form>
    </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('form');
    
    const username = document.getElementById('id_username');
    const email = document.getElementById('id_email');
    const password1 = document.getElementById('id_password1');
    const password2 = document.getElementById('id_password2');

    const errorUsername = document.getElementById('error-username');
    const errorEmail = document.getElementById('error-email');
    const errorPassword1 = document.getElementById('error-password1');
    const errorPassword2 = document.getElementById('error-password2');
   

    form.addEventListener('submit', (e) => {
        
        errorUsername.textContent = '';
        errorEmail.textContent = '';
        errorPassword1.textContent = '';
        errorPassword2.textContent = '';
       
        let hasErrors = false;

        if (!username.value.trim()) {
            errorUsername.textContent = 'Username is required.';
            hasErrors = true;
        }

        if (!email.value.trim()) {
            errorEmail.textContent = 'Email is required.';
            hasErrors = true; 
        } else if (!email.value.trim().includes('@')) {
            errorEmail.textContent = 'Please enter a valid email address containing an @ symbol.';
            hasErrors = true;
        }

        if (!password1.value) {
            errorPassword1.textContent ='Password is required.';
            hasErrors = true;
        } else if (password1.value.length < 8) {
            errorPassword1.textContent = 'Password must be at least 8 characters long.';
            hasErrors = true;
        }

        if (password1.value !== password2.value) {
            errorPassword2.textContent = 'Passwords do not match.';
            hasErrors = true;
        }

        if (hasErrors) {
            e.preventDefault();
        }
    });
});




</script>


{% endblock %}
